<div class="row sidebar">
  <div class="col-md-12">
   <nav>
     <div class="float-right">
        <ul >
          <li [routerLink]="['/home']" [routerLinkActive]="'active'">Strona główna</li>
          <li [routerLink]="['/lists']" [routerLinkActive]="'active'">Moje listy</li>
          <li [routerLink]="['/culinary']" [routerLinkActive]="'active'">Kulinaria</li>
          <li [routerLink]="['/login']" [routerLinkActive]="'active'">Zaloguj się</li>
        </ul>
     </div>
    </nav>
  </div>
</div>
