.add-goceries-container{
    margin-top: 50px;
}

h3 {
    padding: 10px;
}

input{
    width: 100%;
    background: none;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
}
button{
    width: 100%;
    margin-top: 15px;
    border-radius: 3px;
    padding: 8px;
    background-color: rgb(4, 179, 4);
    color: white;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
}
button:hover{
    color: rgb(13, 228, 13);
}